<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
   	http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
   	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
   	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	<aop:aspectj-autoproxy />
	<context:component-scan base-package="io.github.ningyu.redis" />
	<!-- 配置redis连接池信息 -->
	<bean id="poolConfigRedis" class="io.github.ningyu.redis.config.PoolConfig">  
         <property name="maxIdle" value="${jodis.pool.maxIdle}" />
		 <property name="minIdle" value="${jodis.pool.minIdle}" />
	     <property name="maxTotal"  value="${jodis.pool.maxTotal}" />
	     <property name="testOnBorrow" value="${jodis.pool.testOnBorrow}"/>
	     <property name="testOnReturn" value="${jodis.pool.testOnReturn}"/>
	     <property name="testWhileIdle" value="${jodis.pool.testWhileIdle}" />
    </bean>  
	
	<!-- 配置redis客户端 -->
    <bean id="redisClient" class="io.github.ningyu.redis.client.impl.RedisClientImpl" init-method="init">  
        <!-- 配置redis引用的链接池配置信息 -->
        <property name="poolConfig" ref="poolConfigRedis"/>
        <!-- 使用的zookeeper地址信息 -->
        <property name="zkAddress" value="${jodis.zookeeper.url}"/>
        <!-- 按照应用分配的codis名称信息 -->
        <property name="codisProjectName" value="${jodis.project.name}"/>
        <property name="keySeparator" value="${jodis.keySeparator}" />
    </bean>  
</beans>